<div id="subheader">
	<div class="inner">
		<div class="container">
			<h1>METADOCS: Your Documents</h1>
		</div> <!-- /.container -->
	</div> <!-- /inner -->
</div> <!-- /subheader -->
<br />
<p><%= link_to 'New Document', "upload" %></p>

<% @documents.each do |document| %>
  <tr>
	<td><a href="/documents/<%=document.id%>"><img src="https://crocodoc.com/api/v2/download/thumbnail?token=<%= @api_token %>&uuid=<%= document.uuid %>&size=300x300"></a></td>
<td><%= link_to 'Delete', document, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />



