<p id="notice"><%= notice %></p>

<p>
  <b>Uuid:</b>
  <%= @document.uuid %>
</p>
<p><a href="https://crocodoc.com/api/v2/download/document?token=<%= @api_token %>&uuid=<%= @document.uuid %>">Download this file</a></p>

<iframe src="https://crocodoc.com/view/<%= @session %>" width="75%"
height="700px" name="youriframe" frameborder="1" vspace="0" hspace="0"
marginwidth="0" marginheight="0" scrolling="yes" noresize></iframe>



<br />



<br />
<br />
<br />
<br />

<%= form_tag({:action => :upload}, :multipart => true) do %>
  <%= file_field_tag 'document' %>
	<%= submit_tag 'Submit'%>
<% end %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
